body, html {    
    background-position: center center; /* Centraliza a imagem */
    height: 100vh; /* Define a altura como 100% da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
}
body.Home {
    background-image: url('Images/Fundo_Home.png');
    background-size: cover; /* Cover preenche a tela inteira */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}